on:
  schedule:
    - cron: "26 */12 * * *"
  pull_request: {}
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  required-meta:
    permissions:
      contents: read
      checks: write
      pull-requests: write
    uses: BlindfoldedSurgery/actions-meta/.github/workflows/required.yml@v2

  mirror:
    runs-on: ubuntu-24.04
    if: github.event_name != 'pull_request'
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.WORKFLOW_TOKEN }}
      - run: git remote add mirrored https://github.com/BlindfoldedSurgery/actions-container.git
      - run: git fetch mirrored 'refs/tags/*:refs/tags/*'
      - run: git push origin --tags --force
